.home-page {
    width: 80%;;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5) !important; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500;
}

section.actions {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border-style: solid;
    margin-left: auto;
}

section.actions form {
    margin: 0;
    padding: 0;
    display: flex;

    /* vertical-align: top; */
}

.trip-search-input,
.trip-search-btn {
    border: 1px solid black;
}

.trip-search-btn {
  padding: 7px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #234465;
  cursor: pointer;
}

.trip-search-btn:hover {
  font-weight: 600;

}

.trip-search-input {
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

section.actions h2 {
    color: #ffa000;
}

section.actions a {
    color: #234465;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 6px;
    margin-top: 3.5%;
}

section.actions a:hover {
    font-weight: bold;
}

.make-trip-container {
    display: flex;
}

hr.separator {
    width: 80%;
    margin: 0 auto;
    color: white;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.home-page__header {
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.home-page__header-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    font-weight: bolder;
    font-size: larger;
}

.home-page__header-list-item {
    color: black;
}

.home-page__body {
    margin: 10px 30px;
    height: 470px;
    overflow-y: auto;
    border-radius: 20px;
    width: 80%;
}

.home-page__body::-webkit-scrollbar {
    width: 10px;
  }
  
.home-page__body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;

  }
  
.home-page__body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;

  }
  
.home-page__body::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;

  }

.trip-offer {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 30px;
}

.trip-offer__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    margin-bottom: 20px;
}

.trip-offer__list-item {
    display: flex;
    justify-content: space-around
}

.details-btn,
.reserve-btn {
display: flex;
flex-direction: row;
color: black;
border-radius: 5px;
text-decoration: none;
}

.details-btn {
    background: rgb(200,187,179);
    background: lightblue;
    padding: 2px 15px;
}

.reserve-btn {
    background-color: lightgreen;
    padding: 2px 15px;
}
